.profile__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 6px 0 0;
    grid-area: subtitle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 1024px) {
    .profile__subtitle {
        font-size: 18px;
        line-height: 22px;
        margin-top: 8px;
    }
}