.popup__save-button_disabled {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    background: #FFF;
    opacity: 0.5;
    color: rgba(0, 0, 0, 0.2);
}

.popup__save-button:hover {
    cursor: auto;
    opacity: 0.5;
}