.photo-grid__image {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    grid-column: 1/3;
    height: 282px;
    max-width: 282px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.photo-grid__image:hover {
    cursor: pointer;
}