.popup__input {
    max-width: 238px;
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 0 9px;
    outline: none;
}

@media screen and (min-width: 768px) {
    .popup__input {       
        max-width: 358px;
    }
}